<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="SmallFile" value="Files\small.in"/>
        <add key="LargeFile" value="Files\large.in"/>
        <add key="OutputPath" value="Files\Output"/>
    </appSettings>
</configuration>